#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /* scale() lo controlaremos con JS */
  transform-origin: center center;

  width: auto;
  height: auto;
  min-width: 100vw;
  min-height: 100vh;

  object-fit: contain;
  object-position: center center;

  z-index: -1;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 0.55;
  background-color: #0b0e14;
}

body > :not(#bg-video) {
  position: relative;
  z-index: 1;
}
