#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center center;

  /* base natural */
  width: 2560px;    /* tamaño nativo del vídeo */
  height: 1080px;

  object-fit: contain;
  object-position: center center;

  z-index: -1;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 0.55;
  background-color: #0b0e14;
}

body > :not(#bg-video) {
  position: relative;
  z-index: 1;
}
