#bg-video{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;  /* punto de partida */
  z-index: 0;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: .55;
}

/* En pantallas muy anchas, desplaza un pelín el vídeo */
@media (min-width: 1400px){
  #bg-video{
    object-position: 52% center; /* prueba 52, 55, etc hasta que la línea no cruce el centro */
  }
}

/* En pantallas más estrechas (tipo MacBook) puedes compensar un poco */
@media (max-width: 1200px){
  #bg-video{
    object-position: 48% center;
  }
}
