#bg-video{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;  /* muestra TODO el vídeo sin recortar */
  background: #0b0e14;  /* mismo color que tu fondo */
  z-index: 0;
  pointer-events: none;
  mix-blend-mode: normal; /* aquí suele quedar mejor normal o lighten */
  opacity: .55;
}
