#bg-video{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: .55;
}

.center-mask{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1100px;          /* ajusta si hace falta */
  background: #0b0e14;    /* mismo fondo que el body */
  z-index: 0;
  pointer-events: none;
}

body > :not(#bg-video){
  position: relative;
  z-index: 1;
}